@font-face {
    font-family: 'Pixel';
    src: url('../../fonts/Pixel.eot');
    src: url('../../fonts/Pixel.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Pixel.woff2') format('woff2'),
        url('../../fonts/Pixel.woff') format('woff'),
        url('../../fonts/Pixel.svg#Pixel') format('svg');
    font-weight: normal;
    font-style: normal;
}